{% extends 'base.html.twig' %}

{% block title %}Acceso Denegado
{% endblock %}
{% block stylesheets %}
	<meta
	http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta
	name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/ico" />

	<!-- Bootstrap -->
	<link
	href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Font Awesome -->
	<link
	href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
	<!-- NProgress -->
	<link
	href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
	<!-- Animate -->
	<link
	href="{{ asset('vendors/animate.css/animate.css') }}" rel="stylesheet">
	<!-- iCheck -->
	<link
	href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
	<!-- Custom Theme Style -->
	<link href="{{ asset('build/css/custom.min.css') }}" rel="stylesheet">
	<!-- Personalized Theme Style -->
	<link href="{{ asset('build/css/personalized.css') }}" rel="stylesheet">
{% endblock %}
{% block bodyclass %}class="login"
{% endblock %}
{% block body %}
	<div>

	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
