{% extends "default/bars.html.twig" %}

{% block contenpage %}
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h5>
					Lista de acuerdos
				</h5>
			</div>
		</div>

		<div class="clearfix"></div>
		{% set total = acuerdos | length %}
		<div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">Filtar por fecha</div>
					<div class="x_content">
						{% include 'default/modal_date_start_end_find.html.twig' %}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<div class="nav float-left">
							<h5>{{ title }}</h5>
						</div>
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a href="{{ path('acuerdo_nuevos', {'idEncuentro': 0}) }}" class="btn text-white btn-primary">AGREGAR</a>
							</li>
							<li>
								<a class="btn btn-success" data-toggle="modal" href="#chartModal"><i class="fa fa-pie-chart"></i></a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="row">
							<form action="{{ path('acuerdo_accion_grupal') }}" id="grpaction" method="post" name="grpaction">
								<div class="form-group form-inline">
									<select class="form-control" name="action" required id="action_select">
										<option value="">
											Acción de grupo</option>
										<option value="Exportar">
											Exportar</option>
										<option value="Eliminar">
											Eliminar</option>
									</select>
									<button class="btn btn-primary" type="submit"><span class="fa fa-arrow-right"></span> </button>
								</div>
							</form>
							<table id="example" class="display table table-bordered dataminetables">
								<thead>
								<th><input type="checkbox" id="select_all" name="select_all"></th>
								<th>No. Acuerdo</th>
								<th>Descripción</th>
								<th>Involucrados</th>
								<th>F. Registro</th>
								<th>F. Cumplim.</th>
								<th>Estado</th>
								<th data-sortable="false">Opciones</th>
								</thead>
								<tbody>
								{% for acuerdo in acuerdos  %}
									{% set vencido = (acuerdo.getUltimoEstado in ['En tiempo', 'Pospuesto'] and acuerdo.getUltimaFechaCumplimiento < date()) %}

									{% set ultimoEstado = acuerdo.getUltimoEstado %}
									{% set estado = (ultimoEstado == 'Cumplido' ? 'alert-success' : ultimoEstado in ['Cancelado', 'Incumplido'] ? 'alert-danger') %}


									<tr class="{{ vencido ? 'alert-warning' : estado }}">
										<td><input type="checkbox" class="chkgrp" name="chkgrp[]" value="{{ acuerdo.id }}"></td>
										<td>{{ acuerdo.noAcuerdo }}</td>
										<td>{{ acuerdo.descripcion }}</td>
										<td>
											<ul>
												{% if acuerdo.encuentroAcuerdoPersonaAsociadas | length > 0 %}
													<div class="m-1"><b>Personas asociadas</b></div>
													{% for item in acuerdo.encuentroAcuerdoPersonaAsociadas %}
														<li>
															{% if item.responsable %} <b>(R)</b> {% endif %}
															{{ item.persona.nombresApellidos }} <i>({{ item.persona.cargo }} - {{ item.persona.entidad }})</i>
														</li>
													{% endfor %}
												{% endif %}
											</ul>
										</td>
										{#											<td>{{ acuerdo.fechaInicio?acuerdo.fechaInicio | date('d-m-Y'):'' }}</td>#}
										{% set acuerdoTrazabilidad =
											acuerdo.encuentroAcuerdoTrazabilidads
										%}
										<td>{{ acuerdo.fechaInicio | date('d-m-Y') }}</td>
										<td>
											{% if acuerdoTrazabilidad != null or acuerdoTrazabilidad != false %}
												{{ acuerdoTrazabilidad|length>0?acuerdoTrazabilidad[0].fechaRevision?acuerdoTrazabilidad[0].fechaRevision | date('d-m-Y'):'':''}}
											{% else %}
												-
											{% endif %}
										</td>
										<td>
											{% if not vencido %}{{ acuerdoTrazabilidad[0].estado }}{% else %} Pasado de fecha. Sin analizar {% endif %}
										</td>
										<td>
											<a class="btn btn-sm btn-warning" href="{{ path('acuerdo_mostrar',{"id":acuerdo.id}) }}">
												<i class="fa fa-eye"></i>
											</a>
											<a class="btn btn-sm btn-primary text-white" href="{{ path('acuerdo_editar',{"id":acuerdo.id}) }}">
												<i class="fa fa-edit"></i>
											</a>
											<a class="btn btn-sm btn-danger disable-btn del-link" href="{{ path('acuerdo_eliminar', {'id': acuerdo.id}) }}">
												<i class="fa fa-trash"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			{% include 'default/tpl-lock.html.twig' %}
		</div>
{% endblock %}