{% extends "base.html.twig" %}

{% block metas %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/ico" />
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{{ asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{{ asset('vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="{{ asset('src/css/custom.min.css') }}" rel="stylesheet">
    <!-- Personalized Theme Style -->
    <link href="{{ asset('src/css/personalized.css') }}" rel="stylesheet">

    <link href="{{ asset('src/css/tagsinput.css') }}" rel="stylesheet">

    <!-- Datatables -->
    <link href="{{ asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <!-- PNotify -->
    <link href="{{ asset('vendors/pnotify/dist/pnotify.css') }}" rel="stylesheet">
    <link href="{{ asset('vendors/pnotify/dist/pnotify.buttons.css') }}" rel="stylesheet">
    <link href="{{ asset('vendors/pnotify/dist/pnotify.nonblock.css') }}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('src/css/bootstrap-select.min.css') }}">
    <!-- include summernote css/js -->
    <link href="{{ asset('src/css/summernote.min.css') }}" rel="stylesheet">
    <!-- include Scroll Bar Css -->
    <link href="{{ asset('src/css/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet">

{% endblock %}

{% block bodyclass %} class="nav-md" {% endblock %}
{% block body %}
    <div class="container body">
        <div class="main_container">
            {% block bars %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <!-- jQuery -->
    <script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('vendors/fastclick/lib/fastclick.js')}}"></script>
    <script src="{{ asset('vendors/nprogress/nprogress.js')}}"></script>
    <script src="{{ asset('vendors/gauge.js/dist/gauge.min.js')}}"></script>
    <script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
    <script src="{{ asset('vendors/iCheck/icheck.min.js')}}"></script>
    <script src="{{ asset('vendors/skycons/skycons.js')}}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.js')}}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.pie.js')}}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.time.js')}}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.stack.js')}}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.resize.js')}}"></script>
    <script src="{{ asset('vendors/flot.orderbars/js/jquery.flot.orderBars.js')}}"></script>
    <script src="{{ asset('vendors/flot-spline/js/jquery.flot.spline.min.js')}}"></script>
    <script src="{{ asset('vendors/flot.curvedlines/curvedLines.js')}}"></script>
    <script src="{{ asset('vendors/DateJS/build/date.js')}}"></script>
    <script src="{{ asset('vendors/jqvmap/dist/jquery.vmap.js')}}"></script>
    <script src="{{ asset('vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
    <script src="{{ asset('vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
    <script src="{{ asset('vendors/moment/min/moment.min.js')}}"></script>
    <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
    <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendors/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ asset('vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ asset('vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>
    <script src="{{ asset('vendors/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
{#    <script src="{{ asset('src/js/bootstrap-select.min.js') }}"></script>#}
    <script src="{{ asset('src/js/mdb.min.js') }}"></script>
    <script src="{{ asset('src/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{ asset('src/js/custom.min.js')}}"></script>
    <script src="{{ asset('src/js/summernote.min.js') }}"></script>
    <script>
        var dataminetables = $('.dataminetables').dataTable({
            "columnDefs": [
                {"orderable": false, "targets": 0}
            ]
        });
        var datasorttables = $('.dataminetables').DataTable();
        var datanotminetables = $('.datanotminetables').dataTable({
        });
        var datanotsorttables = $('.datanotminetables').DataTable();
        $(document).on('click', 'button#solicitud-materiales-producto-adicionar-fila', function() {
            var nro = $(this).closest("table").find("tbody").children().length;
            var list = $($(this).attr('data-list-selector'));
            //var table = $(this).closest("table");
            //var tbody = table.find("tbody");
            var newWidget = list.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, nro);
            nro++;
            list.data('widget-counter', nro);
            $('#cookie').html(newWidget);
            $('#cookie').hide();
            var divs = $('#cookie').find('div.form-group');
            $(divs[0]).find('label').remove();
            var newElem = "<tr>" +
                "<td>"+ $(divs[0]).html() +"</td>" +
                "<td>"+ $(divs[1]).html() +"</td>" +
                "<td>"+ $(divs[2]).html() +"</td>" +
                "</tr>";
            list.append(newElem);
        });
        $('table#table-personas-acuerdos #persona_externo').change(function () {
            var externo = $('#persona_externo');
            var cargo = $('#persona_cargo');
            var entidad = $('#persona_entidad');
            if(externo.is(':checked')){
                cargo.removeAttr('disabled');
                entidad.removeAttr('disabled');
            } else {
                cargo.attr('disabled','disabled');
                entidad.attr('disabled','disabled');
            }
        });
        $('#agregar-persona-acuerdo').click(function () {
            var $tbody = $('#table-personas-acuerdos tbody');
            var nombre = $('#persona_nombre');
            var externo = $('#persona_externo');
            var cargo = $('#persona_cargo');
            var entidad = $('#persona_entidad');
            var responsable = $('#persona_responsable');

            if((nombre.val() !== '' && cargo.val() !== '' && entidad.val() !== '') || (nombre.val() !== '' && !externo.is(':checked')))
            {
                var full = nombre.val() + "***" + externo.is(':checked') + "***" + (cargo.val() !== '' ? cargo.val() : '-') + "***" + (entidad.val() !== '' ? entidad.val() : '-') + "***" + responsable.is(':checked');
                var text = '<tr>' +
                    '<td>' + nombre.val() + '</td>' +
                    '<td class="' + externo.is(':checked') + ' text-center" style="font-size: 25px;">' + (externo.is(':checked') === true ? '<span class=\"fa fa-check\"></span>' : '<span class=\"fa fa-remove\"></span>') + '</td>' +
                    '<td>' + cargo.val() + '</td>' +
                    '<td>' + entidad.val() + '</td>' +
                    '<td class="text-center" style="font-size: 25px;">' + (responsable.is(':checked')  === true ? '<span class=\"fa fa-check\"></span>' : '<span class=\"fa fa-remove\"></span>') + '</td>' +
                    '<td><input type="hidden" name="personas_acuerdos[]" value="'+ full +'"><button class="quitar-persona-acuerdo btn btn-danger btn-sm" type="button"><span class="fa fa-remove"></span></button></td>' +
                    '</tr>';
                $tbody.append(text);
                nombre.val('');
                externo.prop('checked', false);
                cargo.val('');
                entidad.val('');
                cargo.attr('disabled','disabled');
                entidad.attr('disabled','disabled');
                responsable.prop('checked', false);
                nombre.focus();
            }
        });
        $('body').on('click', 'button.quitar-persona-acuerdo', function() {
            var whichtr = $(this).closest("tr");
            whichtr.remove();
        });
        $('#encuentro_acuerdo_agregar').click(function () {
            var tr = $('table#table-personas-acuerdos tbody').find('tr');
            if(tr.length === 0){
                notif("error","Error","No puede guardar el acuerdo si no a registrado al menos un participante");
                return false;
            }
        });
        $('#agregar-participante-externo').click(function () {
            var $tbody = $('#table-participantes-externos tbody');
            var nombre = $('#pe_nombre');
            var cargo = $('#pe_cargo');
            var entidad = $('#pe_entidad');
            if(nombre.val() !== '' && cargo.val() !== '' && entidad.val() !== '')
            {
                var full = nombre.val() + "***" + cargo.val() + "***" + entidad.val();
                var text = '<tr>' +
                    '<td>' + nombre.val() + '</td>' +
                    '<td>' + cargo.val() + '</td>' +
                    '<td>' + entidad.val() + '</td>' +
                    '<td><input type="hidden" name="participantes_externos[]" value="'+ full +'"><button class="quitar-participante-externo btn btn-danger btn-sm" type="button"><span class="fa fa-remove"></span></button></td>' +
                    '</tr>';
                $tbody.append(text);
                nombre.val('');
                cargo.val('');
                entidad.val('');
                nombre.focus();
            }
        });
        $('body').on('click', 'button.quitar-participante-externo', function() {
            var whichtr = $(this).closest("tr");
            whichtr.remove();
        });
        $('#agregar-invitado').click(function () {
            var $tbody = $('#table-invitados tbody');
            var nombre = $('#invitado_nombre');
            var cargo = $('#invitado_cargo');
            var entidad = $('#invitado_entidad');
            if(nombre.val() !== '' && cargo.val() !== '' && entidad.val() !== '')
            {
                var full = nombre.val() + "-" + cargo.val() + "-" + entidad.val();
                var text = '<tr>' +
                    '<td>' + nombre.val() + '</td>' +
                    '<td>' + cargo.val() + '</td>' +
                    '<td>' + entidad.val() + '</td>' +
                    '<td><input type="hidden" name="invitado[]" value="'+ full +'"><button class="quitar-invitado btn btn-danger btn-sm" type="button"><span class="fa fa-remove"></span></button></td>' +
                    '</tr>';
                $tbody.append(text);
                nombre.val('');
                cargo.val('');
                entidad.val('');
                nombre.focus();
            }
        });
        $('body').on('click', 'button.quitar-invitado', function() {
            var whichtr = $(this).closest("tr");
            whichtr.remove();
        });
        $('select[name="encuentro[trabajadores]"]').change(function () {
                       $('option:selected', $('select[name="encuentro[trabajadores]"]')).val();
        });
        $(document).on("click","button.eliminar-fila",function (e) {
            e.preventDefault();
            if(confirm("¿Está seguro que desea eliminar el producto?")){
                    var nroFilas = $(this).closest("tbody").children().length;
                    if(nroFilas > 1){
                        var whichtr = $(this).closest("tr");
                        whichtr.remove();
                    }
            }
        });
        $(document).on("change","select#usuario_form_trabajadorAsociado", function () {
            var select_val = $(this).find('option:selected').text();
            $('input#usuario_form_nombreCompleto').val(select_val);
        });
        $(document).on("change","select.acuerdo-select-estado", function(e){
            var elems = ['Cumplido', 'Incumplido y finalizar', 'Cancelado'];
            var select_val = $(this).val();
           if($.inArray(select_val, elems) !== -1){
                $(this).parent().parent().parent().find('input.nueva-fecha').attr('disabled','disabled');
            } else {
                $(this).parent().parent().parent().find('input.nueva-fecha').removeAttr('disabled');
            }
        });
        $(document).on("change","select#encuentro_acuerdo_periodicidad", function(e){
            var select = $(this);
            var parent = select.parent().parent().parent().parent().parent().parent();
            if(parent.find('select#encuentro_acuerdo_estado').val() === 'Incumplido'){
                if(select.val() === 'No'){
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'none');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').attr('disabled','disabled');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', false);
                    parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').removeClass('required');
                    parent.find('textarea#encuentro_acuerdo_observaciones').attr('required','required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').addClass('required');
                } else {
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'block');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').removeAttr('disabled');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', false);
                    parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').removeClass('required');
                    parent.find('textarea#encuentro_acuerdo_observaciones').removeAttr('required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').removeClass('required');
                }
            } else if(parent.find('select#encuentro_acuerdo_estado').val() === 'Cumplido'){
                if(select.val() === 'No'){
                    parent.find('textarea#encuentro_acuerdo_observaciones').attr('required','required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').addClass('required');
                } else {
                    parent.find('textarea#encuentro_acuerdo_observaciones').removeAttr('required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').removeClass('required');
                }
            }
        });
        $(document).on("change","select#encuentro_acuerdo_estado", function(e){
            var select = $(this);
            var select_val = $(this).val();
            var parent = select.parent().parent().parent().parent().parent().parent();
            switch (select_val) {
                case 'En tiempo' : {
                    parent.find('select#encuentro_acuerdo_periodicidad').closest('.col-12').css('display', 'block');
                    parent.find('select#encuentro_acuerdo_periodicidad').removeAttr('disabled');
                    parent.find('textarea#encuentro_acuerdo_observaciones').removeAttr('required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').removeClass('required');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'block');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').removeAttr('disabled');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', true);
                    parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').addClass('required');
                    parent.find('div#nota').html('Nota: Se debe especificar una fecha de cumplimiento mayor que la fecha actual. Si el acuerdo posee periodicidad, será agendado para chequear su cumplimiento de manera recurrente, teniendo en cuenta el período seleccionado (Mensual, Trimestral, etc.) y la fecha del encuentro.');
                    break;}
                case 'Cumplido' : {
                    parent.find('select#encuentro_acuerdo_periodicidad').closest('.col-12').css('display', 'block');
                    parent.find('select#encuentro_acuerdo_periodicidad').removeAttr('disabled');
                    var periodicidad = parent.find('select#encuentro_acuerdo_periodicidad').val();
                    if(periodicidad !== 'No'){
                        parent.find('textarea#encuentro_acuerdo_observaciones').removeAttr('required');
                        parent.find('label[for="encuentro_acuerdo_observaciones"]').removeClass('required');
                    } else {
                        parent.find('textarea#encuentro_acuerdo_observaciones').attr('required','required');
                        parent.find('label[for="encuentro_acuerdo_observaciones"]').addClass('required');
                    }
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'none');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').attr('disabled','disabled');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', false);
                    parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').removeClass('required');
                    parent.find('div#nota').html('Nota: La fecha de cumplimiento es aquella cuando se realiza el encuentro para el caso de aquellos acuerdos donde no se especifique periodicidad, dejando claro que es un acuerdo que se registra ya habiéndose cumplido. Si el acuerdo posee periodicidad, será agendado para chequear su cumplimiento de manera recurrente, teniendo en cuenta el período seleccionado (Mensual, Trimestral, etc.) y la fecha del encuentro.');
                    break;}
                case 'Cumplido en parte' : {
                    parent.find('select#encuentro_acuerdo_periodicidad').closest('.col-12').css('display', 'block');
                    parent.find('select#encuentro_acuerdo_periodicidad').removeAttr('disabled');
                    parent.find('textarea#encuentro_acuerdo_observaciones').removeAttr('required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').removeClass('required');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'block');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').removeAttr('disabled');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', true);
                    parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').addClass('required');
                    parent.find('div#nota').html('Nota: Al ser cumplido en parte se debe especificar una nueva fecha de cumplimiento mayor que la fecha actual, en la cual se chequeará su cumplimiento. Si el acuerdo posee periodicidad, será agendado para chequear su cumplimiento de manera recurrente, teniendo en cuenta el período seleccionado (Mensual, Trimestral, etc.) y la fecha especificada para el chequeo.');
                    break;}
                case 'Pospuesto' : {
                    parent.find('select#encuentro_acuerdo_periodicidad').closest('.col-12').css('display', 'block');
                    parent.find('select#encuentro_acuerdo_periodicidad').removeAttr('disabled');
                    parent.find('textarea#encuentro_acuerdo_observaciones').removeAttr('required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').removeClass('required');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'block');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').removeAttr('disabled');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', true);
                    parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').addClass('required');
                    parent.find('div#nota').html('Nota: Al ser pospuesto se debe especificar una nueva fecha de cumplimiento mayor que la fecha actual, en la cual se chequeará su cumplimiento. Si el acuerdo posee periodicidad, será agendado para chequear su cumplimiento de manera recurrente, teniendo en cuenta el período seleccionado (Mensual, Trimestral, etc.) y la fecha especificada para el chequeo.');
                    break;}
                case 'Incumplido' : {
                    parent.find('select#encuentro_acuerdo_periodicidad').closest('.col-12').css('display', 'block');
                    parent.find('select#encuentro_acuerdo_periodicidad').removeAttr('disabled');
                    if(parent.find('select#encuentro_acuerdo_periodicidad').val() === 'No'){
                        parent.find('textarea#encuentro_acuerdo_observaciones').attr('required','required');
                        parent.find('label[for="encuentro_acuerdo_observaciones"]').addClass('required');
                        /**/
                        parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'none');
                        parent.find('input#encuentro_acuerdo_fechaCumplimiento').attr('disabled','disabled');
                        parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', false);
                        parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').removeClass('required');
                    } else {
                        parent.find('textarea#encuentro_acuerdo_observaciones').removeAttr('required');
                        parent.find('label[for="encuentro_acuerdo_observaciones"]').removeClass('required');
                        parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'block');
                        parent.find('input#encuentro_acuerdo_fechaCumplimiento').removeAttr('disabled');
                        parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', false);
                        parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').removeClass('required');
                    }
                    parent.find('div#nota').html("Nota: Al ser incumplido se puede especificar una nueva fecha de cumplimiento mayor que la fecha actual, en la cual se chequeará nuevamente su cumplimiento, y una periodicidad para la revisión recurrente del mismo.<br>Condiciones relaciondas con la periodicidad y la fecha de cumplimiento:<li>Con periodicidad + Con fecha = Revisión recurrente en la fecha seleccionada.</li><li>Con periodicidad + Sin fecha = Revisión recurrente teniendo en cuenta la fecha del encuentro.</li><li>Sin periodicidad = Revisión única teniendo en cuenta la fecha del encuentro.</li>");
                    break;}
                case 'Cancelado' : {
                    parent.find('select#encuentro_acuerdo_periodicidad').closest('.col-12').css('display', 'none');
                    parent.find('textarea#encuentro_acuerdo_observaciones').attr('required','required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').addClass('required');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'none');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').attr('disabled','disabled');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', false);
                    parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').removeClass('required');
                    parent.find('div#nota').html("Nota: Un acuerdo cancelado no puede ser replanificado. La fecha de cancelación se corresponde con la fecha del encuentro");
                    break;}
                case '' : {
                    parent.find('select#encuentro_acuerdo_periodicidad').closest('.col-12').css('display', 'block');
                    parent.find('select#encuentro_acuerdo_periodicidad').removeAttr('disabled');
                    parent.find('textarea#encuentro_acuerdo_observaciones').removeAttr('required');
                    parent.find('label[for="encuentro_acuerdo_observaciones"]').removeClass('required');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').closest('.col-12').css('display', 'block');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').removeAttr('disabled');
                    parent.find('input#encuentro_acuerdo_fechaCumplimiento').prop('required', true);
                    parent.find('label[for="encuentro_acuerdo_fechaCumplimiento"]').addClass('required');
                    parent.find('div#nota').html('Nota: Debe especificar un estado.');
                    break;}
            }
        });
        $(document).on("click",".acuerdo-cambiar-estado",function (e) {
            e.preventDefault();
            var btn = $(this);
            var link = btn.attr("href");
            $.ajax({
                url: link,
                method: 'POST',
                data : {
                    nuevoEstado: $(this).parent().parent().find('select').val(),
                    encuentroModificador: $(this).prev().val(),
                    observaciones: $(this).parent().parent().parent().find('textarea').val(),
                    nuevaFecha: $(this).parent().parent().parent().find('input.nueva-fecha').prop('disabled') ? null : $(this).parent().parent().parent().find('input.nueva-fecha').val()
                },
                success: function(data){
                    if(data.message=="success"){
                        notif("success","Éxito","Se ha revisado este acuerdo");
                        btn.closest('div.row').find('div.acuerdo-observaciones p').html(btn.parent().parent().parent().find('textarea').val());
                        btn.closest('div.row').find('div.acuerdo-fecha-cumplimiento p').html(btn.parent().parent().parent().find('input.nueva-fecha').val());
                        btn.closest('div.row').find('div.acuerdo-estado p').html(btn.parent().parent().find('select').val());
                        location.reload();
                    }else {
                        btn.parent().parent().parent().find('textarea').text(btn.closest('div.row').find('div.acuerdo-observaciones p').html());
                        notif("error","Error","Ha ocurrido un error inesperado");
                    }
                },
                error: function(xhr){
                    notif("error","Error","Ha ocurrido un error inesperado");
                    btn.parent().parent().parent().find('textarea').text(btn.closest('div.row').find('div.acuerdo-observaciones p').html());
                }
            });
        });
        $(document).on("click",".cambiar-estado-acuerdo",function (e) {
            e.preventDefault();
            var btn = $(this);
            var link = $(this).attr("href");
            $.ajax({
                url: link,
                method: 'POST',
                data : {
                    nuevoEstado: $(this).prev().val()
                },
                success: function(data){
                    if(data.message=="success"){

                        btn.closest('td').prev().html($(this).parent().prev().find('select').val());
                    }else {
                        notif("error","Error","Ha ocurrido un error inesperado");
                    }
                },
                error: function(xhr){
                    notif("error","Error","Ha ocurrido un error inesperado");
                }
            });
        });
        $(document).on("click",".del-file-documento-list-item",function (e) {
            e.preventDefault();
            if(confirm("¿Está seguro que desea eliminar el comentario?")){
                var btn = $(this);
                var link = $(this).attr("href");
                $.ajax({
                    url: link,
                    method: 'POST',
                    success: function(data){
                        if(data.message=="success"){
                            if(data.value===true){
                                notif("success","Éxito","Se ha eliminado el elemento");
                                // Get the position of the current data from the node
                                let aPos = btn.closest("tr"); // Posicion de la fila donde se encuentra el boton
                                // Delete the row
                                aPos.remove();
                                var items_count = $("#documentos-list tbody").children().length;
                                if(items_count === 0){
                                    var no_elements = '<div class="p-3" id="comentarios-list-no-elements">\n' +
                                        '                <p>No hay comentarios registrados</p>\n' +
                                        '            </div>';
                                    $("#documentos-list tbody").html(no_elements);
                                }
                            }else if(data.value===false) {
                                notif("error","Error", "Ha ocurrido un error inesperado");
                            }
                        }else {
                                if(typeof data.value === 'string') {
                                notif("error","Error", data.value);
                            } else {
                                notif("error","Error", "Ha ocurrido un error inesperado");
                            }
                        }
                    },
                    error: function(xhr){
                        notif("error","Error", "Ha ocurrido un error inesperado");
                    }
                });
            }
        });
        $(document).on("click",".publicar-comentario",function (e) {
            e.preventDefault();
            var btn = $(this);
            var link = $(this).attr("href");
            $.ajax({
                url: link,
                method: 'POST',
                data: {
                    comentario: $('textarea[name="comentario"]').val()
                },
                success: function(data){
                    if(data.message=="success"){
                        $('textarea[name="comentario"]').val('');
                       location.reload();
                        //$('textarea[name="comentario"]').focus();
                        notif("success","Éxito","Se ha publicado el comentario correctamente");
                    }else {
                        notif("error","Error","Ha ocurrido un error inesperado");
                    }
                },
                error: function(xhr){
                    notif("error","Error","Ha ocurrido un error inesperado");
                }
            });
        });
        $(document).on("click",".editar-comentario",function (e) {
            var btn = $(this);
            var link = $(this).attr("href");
            var comentario_area = btn.closest(".comentario-area");
            var comentario_info = btn.closest(".comentario-info");
            comentario_info.hide();
            var texto = comentario_info.find(".comment-text").html();
            $("#publicar-comentario-form").find("textarea").attr('disabled','disabled');
            $("#publicar-comentario-form").find("button").attr('disabled','disabled');
            var html = '<div class="comentario-form">\n' +
                '                <div class="comment-text">\n' +
                '                    <textarea name="comentario" style="font-size: 12px;" type="text" class="form-control">'+ texto + '</textarea>\n' +
                '                </div>\n' +
                '                <div class="action">\n' +
                '                    <button type="button"  href="' + link + '" class="btn btn-xs btn-primary editar-comentario-btn">\n' +
                '                        Publicar\n' +
                '                    </button>\n' +
                '                    <button type="button" class="btn btn-xs btn-danger cancelar-edicion-comentario">\n' +
                '                        Cancelar\n' +
                '                    </button>\n' +
                '                </div>\n' +
                '            </div>';
            comentario_area.append(html);
        });
        $(document).on("click",".cancelar-edicion-comentario",function (e) {
            var btn = $(this);
            var comentario_form = btn.closest(".comentario-form");
            var comentario_info = btn.closest(".comentario-form").siblings("div.comentario-info");
            comentario_info.show();
            comentario_form.remove();
        });
        $(document).on("click",".editar-comentario-btn",function (e) {
            e.preventDefault();
            var btn = $(this);
            var link = $(this).attr("href");
            $.ajax({
                url: link,
                method: 'POST',
                data: {
                    comentario: btn.closest(".comentario-form").find("textarea").val()
                },
                success: function(data){
                    if(data.message=="success"){
                        // $('textarea[name="comentario"]').val('');
                        //$('textarea[name="comentario"]').focus();
                        notif("success","Éxito","Se ha actualizado el comentario correctamente");
                        location.reload();
                    }else {
                        notif("error","Error","Ha ocurrido un error inesperado");
                    }
                },
                error: function(xhr){
                    notif("error","Error","Ha ocurrido un error inesperado");
                }
            });
        });
        $(document).on("click",".responder-comentario",function (e) {
            var btn = $(this);
            var link = $(this).attr("href");
             var texto = "";
            $("#publicar-comentario-form").find("textarea").attr('disabled','disabled');
            $("#publicar-comentario-form").find("button").attr('disabled','disabled');
            var html = '<div class="mt-3 pl-3 escribir-form"><div class="mic-info mb-1">\n' +
                '                        {{ app.user.nombreCompleto }}</a> responde:\n' +
                '                                            </div><div class="comentario-form">\n' +
                '                <div class="comment-text">\n' +
                '                    <textarea name="comentario" style="font-size: 12px;" type="text" class="form-control">'+ texto + '</textarea>\n' +
                '                </div>\n' +
                '                <div class="action">\n' +
                '                    <button type="button"  href="' + link + '" class="btn btn-xs btn-primary editar-comentario-btn">\n' +
                '                        Responder\n' +
                '                    </button>\n' +
                '                    <button type="button" class="btn btn-xs btn-danger cancelar-respuesta-comentario">\n' +
                '                        Cancelar\n' +
                '                    </button>\n' +
                '                </div>\n' +
                '            </div></div>';
            btn.parent().parent().append(html);
            btn.parent().hide();
        });
        $(document).on("click",".cancelar-respuesta-comentario",function (e) {
            var btn = $(this);
            btn.closest('.escribir-form').siblings("div.action").show();
            btn.closest('.escribir-form').remove();
        });
        $(document).on("click",".responder-comentario-btn",function (e) {
            e.preventDefault();
            var btn = $(this);
            var link = $(this).attr("href");
            $.ajax({
                url: link,
                method: 'POST',
                data: {
                    comentario: btn.closest(".comentario-form").find("textarea").val()
                },
                success: function(data){
                    if(data.message=="success"){
                        notif("success","Éxito","Se ha actualizado el comentario correctamente");
                        location.reload();
                    }else {
                        notif("error","Error","Ha ocurrido un error inesperado");
                    }
                },
                error: function(xhr){
                    notif("error","Error","Ha ocurrido un error inesperado");
                }
            });
        });
        $(document).on("click",".del-comentario-list-item",function (e) {
                e.preventDefault();
                if(confirm("¿Está seguro que desea eliminar el comentario?")){
                    var btn = $(this);
                    var link = $(this).attr("href");
                    $.ajax({
                        url: link,
                        method: 'POST',
                        success: function(data){
                            if(data.message=="success"){
                                if(data.value===true){
                                    notif("success","Éxito","Se ha eliminado el elemento");
                                    let aPos = btn.closest("li.list-group-item");
                                   aPos.remove();
                                    var items_count = $("#comentarios-list").children().length;
                                    if(items_count == 0){
                                        var no_elements = '<div class="p-3" id="comentarios-list-no-elements">\n' +
                                            '                <p>No hay comentarios registrados</p>\n' +
                                            '            </div>';
                                        $("#comentarios-list").html(no_elements);
                                    }
                                }else if(data.value===false) {
                                    notif("error","Error", "Ha ocurrido un error inesperado");
                                }
                            }else {
                                if(typeof data.value === 'string') {
                                    notif("error","Error", data.value);
                                } else {
                                    notif("error","Error", "Ha ocurrido un error inesperado");
                                }
                            }
                        },
                        error: function(xhr){
                            notif("error","Error", "Ha ocurrido un error inespesssrado");
                        }
                    });
                }
            });
        $(document).on("click",".dar-baja-link",function (e) {
            e.preventDefault();
            if(confirm("¿Está seguro que desea darle baja al trabajador?")) {
                var btn = $(this);
                var link = $(this).attr("href");
                $.ajax({
                    url: link,
                    method: 'POST',
                    success: function(data){
                        if(data.message=="success"){
                                var aPos = dataminetables.fnGetPosition( btn.closest('tr').get(0) );
                                // Delete the row
                                dataminetables.fnDeleteRow(aPos);
                                notif("success","Éxito","Se ha dado baja al trabajador correctamente");
                        }else {
                            notif("error","Error","Ha ocurrido un error inesperado");
                        }
                    },
                    error: function(xhr){
                        notif("error","Error","Ha ocurrido un error inesperado");
                    }
                });
            }
        });
        $(document).on("click",".activate-link",function (e) {
            e.preventDefault();
            var btn = $(this);
            var link = $(this).attr("href");
            $.ajax({
                url: link,
                method: 'POST',
                success: function(data){
                    if(data.message=="success"){
                        if(data.value===true){
                            btn.removeClass("btn-success");
                            btn.removeClass("btn-warning");
                            btn.addClass("btn-success");
                            btn.html("<i class=\"fa fa-check\"></i>");
                            notif("success","Éxito","Se ha activado correctamente");
                        }else if(data.value===false) {
                            btn.removeClass("btn-success");
                            btn.removeClass("btn-warning");
                            btn.addClass("btn-warning");
                            btn.html("<i class=\"fa fa-times\"></i>");
                            notif("error","Éxito","Se ha desactivado correctamente");
                        }


                    }else {
                        notif("error","Error","Ha ocurrido un error inesperado");
                    }
                },
                error: function(xhr){
                    notif("error","Error","Ha ocurrido un error inesperado");
                }
            });
        });

        $(document).on("click",".del-link",function (e) {
            e.preventDefault();
            if(confirm("¿Está seguro que desea eliminar?")){
                var btn = $(this);
                var link = $(this).attr("href");
                $.ajax({
                    url: link,
                    method: 'POST',
                    success: function(data){
                        if(data.message=="success"){
                            if(data.value===true){
                                notif("success","Éxito","Se ha eliminado el elemento");
                                var aPos = dataminetables.fnGetPosition( btn.closest('tr').get(0) );
                                dataminetables.fnDeleteRow(aPos);
                            }else if(data.value===false) {
                                notif("error","Error", "Ha ocurrido un error inesperado");
                            }
                        }else {
                            if(typeof data.value === 'string') {
                                notif("error","Error", data.value);
                            } else {
                                notif("error","Error", "Ha ocurrido un error inesperado");
                            }
                        }
                    },
                    error: function(xhr){
                        notif("error","Error", "Ha ocurrido un error inespesssrado");
                    }
                });
            }
        });

        $(document).on("click",".cambiar-permiso",function (e) {
            e.preventDefault();
            var btn = $(this);
            var link = $(this).attr("href");
            $.ajax({
                url: link,
                method: 'POST',
                success: function(data){
                    if(data.message=="success"){
                        if(data.value===true){
                            btn.removeClass("btn-success");
                            btn.removeClass("btn-warning");
                            btn.addClass("btn-success");
                            notif("success","Éxito","Se ha cambiado el permiso");
                        }else if(data.value===false) {
                            btn.removeClass("btn-success");
                            btn.removeClass("btn-warning");
                            btn.addClass("btn-warning");
                            notif("error","Error","Ha ocurrido un error inesperado");
                        }
                    }else {
                        notif("error","Error","Ha ocurrido un error inesperado");
                    }
                },
                error: function(xhr){
                    notif("error","Error","Ha ocurrido un error inesperado");
                }
            });
        });
        function notif(type,titre,text) {
            new PNotify({
                title: titre,
                text: text,
                type: type,
                styling: 'bootstrap3'
            });
        }
        $('select').selectpicker();
        $('#select_all').click(function() {
            if ($(this).is(':checked')) {
                $('.chkgrp').prop('checked', true);
            } else {
                $('.chkgrp').prop('checked', false);
            }
        });
        $("#grpaction").submit(function (e) {
            e.preventDefault();
            var ids = [];
            var action = $("#action_select").val();
            datasorttables.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var data = this.node();
                if ($(data).find("input[name='chkgrp\[\]']").prop('checked')) {
                    ids.push($(this.data()[0]).val());
                }
            });
            if (ids.length === 0){
                alert("No hay elementos seleccionados");
            }else if (action === ""){
                alert("Seleccione una acción")
            } else {
                if (confirm("¿Confirmar?")){
                    var link = $(this).attr("action");
                    $.ajax({
                        url: link,
                        method: 'POST',
                        data : {
                            action:action,
                            ids:ids
                        },
                        success: function(data, status, xhr){
                            if(data.message==="success"){
                                if(action != 'Exportar') {
                                    notif("success","Éxito", "Acción: " +action + ". Cantidad de elementos: " + data.nb +" elemento(s)");
                                }
                                else {
                                    var $a = $("<a>");
                                    $a.attr("href",data.nb.href);
                                    $("body").append($a);
                                    $a.attr("download",data.nb.filename);
                                    $a[0].click();
                                    $a.remove();
                                    notif("success","Éxito", "Acción");
                                }
                                location.reload();
                            }
                            else {
                                notif("error","Error", "Ha ocurrido un error inesperado"  );
                            }
                        },
                        error: function(xhr){
                            notif("error","Error", "Ha ocurrido un error inesperado"  );
                        }
                    });
                }
            }
        });
        $("body").on('DOMSubtreeModified', ".dataTables_info", function () {

            if ($("#select_all").is(':checked')) {
                $('#select_all').prop('checked', false);
            }
        });
        {% block summernote %}
        $(document).ready(function() {
            $('.summernote').summernote();
        });
        {% endblock  %}
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
        $('.datepicker').pickadate({
            monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
                'Noviembre', 'Diciembre'],
            monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            weekdaysShort: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
            showMonthsShort: true,
            showWeekdaysFull: undefined,
            firstDay: 1,
            today: 'Hoy',
            clear: 'Limpiar',
            close: 'Cerrar',
            labelMonthNext: 'Mes siguiente',
            labelMonthPrev: 'Mes anterior',
            labelMonthSelect: 'Seleccione un mes',
            labelYearSelect: 'Seleccione un año',
            format: 'dd/mm/yyyy',
            formatSubmit: 'dd/mm/yyyy',
            max: true,
        });
    </script>
    {% block scripts %}

    {% endblock %}
{% endblock %}



