{% extends "default/bars.html.twig" %}

{% block contenpage %}
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h5>
					Lista de trabajadores
				</h5>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a href="{{ path('trabajador_nuevo') }}" class="btn text-white btn-primary">AÑADIR</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<form action="{{ path('trabajador_accion_grupal') }}" id="grpaction" method="post" name="grpaction">
								<div class="form-group form-inline">
									<select class="form-control" name="action" required id="action_select">
										<option value="">
											Acción de grupo</option>
										<option value="Dar baja">
											Dar baja</option>
										<option value="Eliminar">
											Eliminar</option>
									</select>
									<button class="btn btn-primary" type="submit"><span class="fa fa-arrow-right"></span> </button>
								</div>
							</form>
							<table id="example" class="display table table-striped table-bordered dataminetables">
								<thead>
									<th><input type="checkbox" id="select_all" name="select_all"></th>
									<th>Nombre(s)</th>
									<th>Apellidos</th>
									<th>No. Identidad</th>
									<th data-sortable="false">Opciones</th>
									<th data-sortable="false" class="text-center"><h4><i class="fa fa-lock"></i></h4></th>
								</thead>
								<tbody>
									{% for trabajador in trabajadores | filter(trabajador => trabajador.alta == true) %}
										<tr>
											<td><input type="checkbox" class="chkgrp" name="chkgrp[]" value="{{ trabajador.id }}"></td>
											<td>{{ trabajador.nombres }}</td>
											<td>{{ trabajador.apellidos }}</td>
											<td>{{ trabajador.carneIdentidad }}</td>
											<td>
												{% if is_granted('ROLE_ESPECIALISTA') %}
												<a title="Editar" class="btn btn-sm btn-primary" href="{{ path('trabajador_editar',{"id":trabajador.id}) }}">
													<i class="fa fa-edit"></i>
												</a>
												{% endif %}
												{% if is_granted('ROLE_ESPECIALISTA_PRINCIPAL') %}
														<a title="Dar baja" class="btn btn-sm btn-warning dar-baja-link" href="{{ path('trabajador_dar_baja', {'id': trabajador.id}) }}">
															<i class="fa fa-arrow-right"></i>
														</a>
												{% endif %}
												{% if is_granted('ROLE_DIRECTOR_AREA') %}
													<a title="Eliminar" href="{{ path('trabajador_eliminar', {'id': trabajador.id}) }}" class="btn btn-sm btn-danger disable-btn del-link">
														<i class="fa fa-trash"></i>
													</a>
												{% endif %}
											</td>
											<td class="text-center">{% if trabajador.encuentros | length > 0 or trabajador.usuario is not null %}<h4><i class="text-danger fa fa-lock"></i></h4>{% endif %}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'default/tpl-lock.html.twig' %}
{% endblock %}
